* {
    padding: 0px;
    margin: 0px;
}
p.tex {
    color:blue;
}

p {
    color: purple;
}

.rodrigo
{
    color: red;
}
body {
    background-color: burlywood;
  }

.div__h {
    color: yellow;
}